* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    /* position: relative; */
    background-color: white;

    height: 40px;
    width: 100%;
}

#logo {
    float: left;
    width: 200px;
    margin: 10px;
}

#menu {
    float: right;
    width: 40px;
    margin: 10px;
}

.welcome_message {
    height: 600px;
    width: 100%;
    background-image: url(spices.jpg);
    text-align: center;
    line-height: 400px;
}

.welcome_message h1 {
    color: white;
    font-style: italic;
}

.button_style {
    background-color: #ffcc33;
    color: #cc6601;
    border: 3px solid #cc6601;
    border-radius: 50px;
    height: 50px;
    width: 245px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

article h3 {
    font-size: 18pt;
    color: blue;
}

footer {
    /* position: fixed; */
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
}

footer h6 {
    transform: translateX(+2%);
}

/* * {
    box-sizing: border-box;
    margin: 0;
} 

#logo {
    border: 5px solid darkolivegreen;
    width: 450px;
    height: 70px;
    padding: 20px;
    display: inline-block;
}

#menu {
    border: 5px solid lightpink;
    width: 450px;
    height: 70px;
    padding: 20px;
    display: inline-block;
}

.container {
    height: 80vh;
    width: 80vw;
}

h3 {
    position: relative;
}

h3:nth-child(1) {
    top: 0;
    left: 0;
}

h3:nth-child(2) {
    top: 0;
    right: 0;
}

h3:nth-child(3) {
    bottom: 0;
    left: 0;
}

h3:nth-child(4) {
    bottom: 0;
    right: 0;
}  */
